@import './variables.css';
@import './reset.css';

body {
  font-family: $font-family;
  font-size: $font-base;
  color: $text-color;
  a {
    color: $link-color;
    &:hover {
      color: $hover-color;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    line-height: 1.8;
    font-weight: 700;
  }
  h1 { font-size: $h1-size; }
  h2 { font-size: $h2-size; }
  h3 { font-size: $h3-size; }
  h4 { font-size: $h4-size; }
  h5 { font-size: $h5-size; }
  h6 { font-size: $h6-size; }
}

button {
    outline : none;
    display: inline-block;
    padding: 8px 30px;
    width: 136px;
    font-size: $font-base;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    text-transform: uppercase;
    border: 1px solid #666;
    background: #fff;
    color: $text-color;
    transition: all .2s ease;
    text-decoration: none !important;
    min-width: 120px;

    &:hover, &:focus {
      text-decoration: none;
    }

    &:disabled, &.disabled {
      opacity: .5;
      cursor: default;
    }
  }

.app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #cbcbcb;
}
