@import './variables.css';
@import './reset.css';

body {
  font-family: $font-family;
  font-size: $font-base;
  color: $text-color;
  a {
    color: $link-color;
    &:hover {
      color: $hover-color;
    }
  }
  h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1rem;
    line-height: 1.8;
    font-weight: 700;
  }
  h1 { font-size: $h1-size; }
  h2 { font-size: $h2-size; }
  h3 { font-size: $h3-size; }
  h4 { font-size: $h4-size; }
  h5 { font-size: $h5-size; }
  h6 { font-size: $h6-size; }
}

header {
  width: 100%;
  height: 80px;
}

main {
  position: relative;
  display: block;
  width: 100%;
  padding: 2rem;
}

button {
    outline : none;
    display: inline-block;
    padding: 8px 30px;
    width: 136px;
    font-size: $font-base;
    line-height: 1.5;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border-radius: $input-border-radius;
    text-transform: uppercase;
    border: 1px solid #666;
    background: #fff;
    color: $text-color;
    transition: all .2s ease;
    text-decoration: none !important;
    min-width: 120px;

    &:hover, &:focus {
      text-decoration: none;
    }

    &:disabled, &.disabled {
      opacity: .5;
      cursor: default;
    }
}

label {
  font-size: 18px;
  text-transform: uppercase;
  display: inline-block;
}

input[type=text], input[type=password], select {
  height: 32px;
  font-size: $font-base;
  margin-left: .5rem;
  padding: 5px;
}

select {
  display: block;
  width: 100%;
  padding: 9px 12px;
  font-size: $font-base;
  line-height: 1.5;
  background-image: none;
  border: 1px solid $input-border-color;
  border-radius: 10px;
  color: $text-color;

  placeholder {
    color: $placeholder-color;
  }

  &:focus {
    background-color: #fff;
  }

  &:disabled, &.disabled {
    color: $text-color-muted;
  }
}

.app {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #cbcbcb;
}

:global {
  .clearfix:before, .clearfix:after {
    content: "";
    display: table;
  }
  .clearfix:after {
    clear: both;
  }
}


