@import '../App/variables.css';

.top {
  height: 100px;
  margin-bottom: 1rem;
}

.user {
  width: 100px;
  float: right;
  margin: 2rem 50px;
  span {
    position: relative;
    top: -4px;
    height:21px;
    width: 21px;
    display: inline-block;
  }
}

.active {
  color: #F300D5;
}

.mail {
  width: 400px;
  float: left;
  margin: 2rem 10px 0;
  font-size: $h6-size;
  font-weight: 700;
  span {
    position: relative;
    top: -4px;
    margin-right: .5rem;
  }
}

nav {
  background: #88B3A4;
  li {
    display: inline-block;
    margin: 1rem 0 1rem 1rem;
    a {
      color: #fff;
      text-decoration: none;
      font-size:$h6-size;
      &:hover {
        color: #D3D7D7;
      }
    }
  }
}
